<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments::head"></head>
<body>
<div class="wrapper">
<!--    <header  th:replace="fragments/fragments::navigation" ></header>-->

</div>
</body>
<section >

</section>
<div class="text-light text-center">
    <div class="container text-light position-static">
        <h1 class="display-3 text-center"><b>404</b></h1>
    </div>
    <p></p>
    <div class="text-light text-center">
        <div class="container text-light position-static">
            <h1 class="display-3 text-center"><b>Not Found</b></h1>
        </div>




    <img src="https://http.cat/404">
</div>
    <p></p>
<a type="submit" href="/" class="btn btn-info w-50 resizeButtonsError">Return Home</a>
</div>
</body>

<footer th:replace="fragments/fragments::footer">
</footer>
</body>

</html>
