<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments::head"></head>
<body>
<div class="wrapper">
    <header  th:replace="fragments/fragments::navigation" ></header>
</div>
<div class="text-light text-center">
    <H1>Welcome to Barista store</H1>
    <h3>Who are we ?</h3>
    <h5>We are one a barista shop created for the purpose to show the word we are the best at what we do.</h5>
</div>

</body>

<footer th:replace="fragments/fragments::footer">
</footer>
</body>

</html>
