main {
    position: relative;
    background-color: pink;
}

section {
    position: absolute;
    top: 250px;
    left: 180px;
}

section div {
    position: relative;
    bottom: 50px;
    left: 8px;
}
h3{
    font-size: 16px;
    margin: 0px;
}
span{
padding-left: 3px;
color: grey;
font-size: 14px;
}