<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments::head"></head>
<body>
<div class="wrapper">
    <!--    <header  th:replace="fragments/fragments::navigation" ></header>-->

</div>
</body>
 <header th:replace="fragments/fragments::navigation"></header>
<section >

</section>
<div class="text-light text-center">
    <div class="container text-light position-static">
        <h1 class="display-3 text-center"><b>CONGRATS!</b></h1>
    </div>
    <p></p>
    <div class="text-light text-center">
        <div class="container text-light position-static">
            <h1 class="display-3 text-center"><b>Your Order is received!</b></h1>
        </div>





    </div>
    <p></p>
    <a type="submit" href="/" class="btn btn-info w-50 resizeButtonsError">Go Back</a>
</div>
</body>

<footer th:replace="fragments/fragments::footer">
</footer>
</body>

</html>
