<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments::head"></head>
<body>
<div class="wrapper">
    <header  th:replace="fragments/fragments::navigation" ></header>

</div>
</body>
<section >

</section>
<div class="text-light text-center">
    <div class="container text-light position-static">
        <h1 class="display-3 text-center"><b>Welcome to BARISTA STORE ! </b></h1>
    </div>
    <ul><h3>This is a website build for SoftUni Java web module exam by iNetzov</h3></ul>


</div>

</body>

<footer th:replace="fragments/fragments::footer">
</footer>
</body>

</html>
