<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments::head"></head>
<body>
<div class="wrapper">
    <header th:replace="fragments/fragments::navigation-moderator" ></header>

</div>
</body>
<section >

</section>
<div class="text-light text-center">
    <div class="container text-light position-static">
        <h1 class="display-3 text-center"><b>Welcome to Moderator Panel</b></h1>
    </div>


</div>

</body>

<footer th:replace="fragments/fragments::footer">
</footer>
</body>

</html>
