<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="fragments/fragments::head"></head>
<body>
<div class="wrapper">
        <header th:replace="fragments/fragments::navigation-admin" ></header>

</div>
</body>
<section >

</section>
<div class="text-light text-center">
    <h2><b>Welcome to Admin Panel</b></h2>
    <ul><li>This is a Panel to manage the Aplication</li></ul>


</div>

</body>

<footer th:replace="fragments/fragments::footer">
</footer>
</body>

</html>
