<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head"></head>
<header th:replace="fragments/fragments::navigation"></header>
<body>
<div class="container text-light position-static">
    <h1 class="display-3 text-center"><b>Manage Users</b></h1>
</div>

<div class="container bg-blur rounded p-5 mt-5 w-75">
    <h4 class="text-light text-center" >Fill the form update User authentication</h4>
    <hr class="bg-light">

    <form th:action="@{/orders/add}" th:method="POST"
          class=" text-center text-light">
        <div>
            <div>
                <div  class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <select  id="username" class=" custom-select col-sm-10 ">
                        <option value="" selected>Select a user</option>
                        <option>Coffee</option>

                    </select>
                    <small id="usernameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        You must select a user to change it's authentication.
                    </small>
                </div>
            </div>
            <!--                -->
            <div>
                <div>
                    <div class="form-group row">
                        <label for="roles" class="col-sm-2 col-form-label">Roles</label>
                        <select id="roles"  class=" custom-select col-sm-10 ">
                            <option value="" selected>Select a role</option>
                            <option>Coffee</option>

                        </select>
                        <small id="rolesHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            You must select a role update your user authentication.
                        </small>
                    </div>
                </div>

            </div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-info w-50">Create a new Order</button>
    </form>
    <hr class="bg-light">
</div>


<footer th:replace="fragments/fragments::footer"></footer>
</body>
</html>