<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head"></head>
<header th:replace="fragments/fragments::navigation"></header>
<body>
<div class="container text-light position-static">
    <h1 class="display-3 text-center"><b>ADD Order</b></h1>
</div>

<div class="container bg-blur rounded p-5 mt-5 w-75">
    <h4 class="text-light text-center" >Fill the form to order a product</h4>
    <hr class="bg-light">

    <form th:action="@{/orders/add}" th:method="POST" th:object="${orderAddBindingModel}"
          class=" text-center text-light">
        <div>
            <div>
                <div  class="form-group row">
                    <label for="product" class="col-sm-2 col-form-label">Products</label>
                    <select th:field="${orderAddBindingModel.product}" th:errorclass="is-invalid" id="product" class=" custom-select col-sm-10 ">
                        <option value="" selected>Select a product</option>
                        <option th:each="p : ${productsForDropDown}" th:object="${p}" th:text="${p.name}" th:value="${p.name}" >Coffee</option>

                    </select>
                    <small id="productHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        You must select a product to make an order.
                    </small>
                </div>
            </div>
            <!--                -->
            <div>
                <div>
                    <div class="form-group row">
                        <label for="store" class="col-sm-2 col-form-label">Stores</label>
                        <select id="store" th:field="${orderAddBindingModel.store}" th:errorclass="is-invalid" class=" custom-select col-sm-10 ">
                            <option value="" selected>Select a Store to take your order from</option>
                            <option th:each="s: ${storesForDropDown}" th:object="${s}" th:text="${s.name}" th:value="${s.name}">Coffee</option>

                        </select>
                        <small id="storeHelpInline" class="invalid-feedback bg-danger text-light rounded">
                            You must select a store to get your order.
                        </small>
                    </div>
                </div>

        </div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-info w-50">Create a new Order</button>
    </form>
    <hr class="bg-light">
</div>


<footer th:replace="fragments/fragments::footer"></footer>
</body>
</html>