<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section class="fullpage category">
    <div class="section-custom">
        <div class="section-header">
            <h2 class="section-header-title">What are you looking for?</h2>
        </div>
        <p class="section-subtitle">Choose what's the best for you</p>
        <div class="reveal">
            <div class="group">
                <figure class="group-item">
                    <img src="image/food-delivery/01.jpg" alt="food-pic">
                    <figcaption>
                        <h2>Burgers & Fries</h2>
                    </figcaption>
                </figure>
                <figure class="group-item">
                    <img src="image/food-delivery/05.jpg" alt="food-pic">
                    <figcaption>
                        <h2>Healthy Foods</h2>
                    </figcaption>
                </figure>
                <figure class="group-item">
                    <img src="image/food-delivery/02.jpg" alt="food-pic">
                    <figcaption>
                        <h2>Noodles</h2>
                    </figcaption>
                </figure>
                <figure class="group-item">
                    <img src="image/food-delivery/04.jpg" alt="food-pic">
                    <figcaption>
                        <h2>Pizza & Pasta</h2>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
</body>
</html>