.grid-container{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: 
    "head head head head head head"
    "side . content content content content"    
    "side . content content content content"    
    "side . content content content content"    
    "side . content content content content"    
    "footer footer footer footer footer footer";  
    
}
.footer {
    background-color: red;
    grid-area: footer;
}
.content{
    background-color: rebeccapurple;
    grid-area: content;
}
.sidebar{
    background-color: burlywood;
    grid-area: side;
}
.header{
    background-color: pink;
    grid-area: head;
}
/* .grid-container div {
    background-color: aquamarine;
    background-color: orange;
} */