/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --lightGray: rgba(241, 241, 241, 0.8);
}

html {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.profile{
    border:2px solid black;
    display: inline-block;
    margin-left: 12%;
    width: 18%;
    vertical-align: top;
}
ul{
    list-style: none;
}

.text-coffee{
    color: #ad8b6f;
}

body {

    background-image: url("/images/test2.jpg");backdrop-filter: blur(8px);
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px 50px;
    line-height: 1.4;
    object-fit: cover;

}
.main-container{

    backdrop-filter: blur(8px);
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px 50px;
    line-height: 1.4;
    object-fit: cover;
}
h1{
    text-shadow: 5px 1px #aa7143;
}

.btn {
    background: #ad8b6f;
    color:  white;
    padding: 1rem 0.5rem;
    text-decoration: none;
    border: 0;
}
.btn:hover{
    background: var(--primary);
    color: black;
}

.main-btn {
    text-decoration: none;
    color: #0b2e13;
}

.main-btn:hover {

    text-decoration: none;

}



img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 25px;
    padding: 12px;
    list-style: none;
    /*grid-template-columns: repeat(7, 1fr);*/
    grid-auto-flow: column;
    justify-content: center;
}
.main-nav1 ul {
    display: grid;
    grid-gap: 25px;
    padding: 12px;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);

}

.main-nav a, .main-nav .btn{
    background: var(--primary);
    display: block;
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    font-family: serif;
    padding: 1rem 3rem;
    text-align: center;
    color: #ad8b6f;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover , .main-nav .btn:hover{
    background: #ad8b6f;
    color: #222222;
}
/*.main-nav .btn:hover {*/
/*    background: #ad8b6f;*/
/*    color: #222222;*/
/*}*/
/* Footer */
footer {

    margin-top: 2rem;
    border-radius: 35px;
    background: #ad8b6f;
    color: var(--light);
    font-family: serif;
    text-align: center;
    padding: 1rem;
}

/*testing*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.3);
    opacity: revert;
    transition: 0.3s;
    padding: 20px 10px;
    margin: 20px 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.resizePhoto{
    max-height: 400px;
    max-width: 400px;
    width: 350px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.resizePhotoProductsSmall{
    width: 350px;
    height: 323px;
}
.resizePhotoStoresSmall{
    width: 350px;
    height: 361px;
}

.marginLeftInput{
    width: 100%;
    margin-left: 10%;
    margin-bottom: 20px;
    text-align: center;
}

/* Add some padding inside the card container */
/*testing*/